Win64/
Android64/
__history/
__recovery/
*.exe
*.dll
*.dcu
*.obj
*.identcache
*.local
*.dproj.local
*.stat
*.~* 

*.LgXhdpiPh.fmx
*.SmXhdpiPh.fmx
*.MdpiPh.fmx
*.HdpiPh.fmx
*.XhdpiPh.fmx

*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.webp

!assets/
!assets/*.svg
!assets/icon.png
